html {
    box-sizing: border-box;
    text-align: center;
}

/* css reset */
*, *::after,*::before {
    box-sizing: inherit;
    
}

* {
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    background-color: #395B64;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: rgb(207, 173, 173);
}

#home {
    background-color: #A5C9CA;
}

.photo-column {
    background: url(/img.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0.5rem 0 1rem #1e2020;
}


#tech {    
    background-color: #E7F6F2;
}

.card {
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0.5rem 1rem #85b9bb;
}

.card .fa {
    font-size:70px;
}

.social-logo {
    font-size: 50px;
}

#footer {
    background-color: #d3eeee;
}