#banner {
    background: url('/bg4.jpg') no-repeat center center;
    background-size: cover;  
    height: 100vh;  
    font-family: 'Montserrat', sans-serif;
}

.banner-title {
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

.home-row {
    height: 100vh;
}

#skills {
    text-align: center;
    background-color: #DCD7C9;
}

.skill-box{
    text-align: center;
}

.skill-box i.fa {
    font-size: 70px;
}

#about {
    text-align: center;
}

.contact-box {

}

.social-box i.fa {
    font-size: 40px;
}
.test1 {
    border: 2px solid red;
}